<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Currency Exchanger
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Currency Exchanger</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>The fastest exchanger there is</ion-card-subtitle>
      </ion-card-header>
      <ion-grid>
        <ion-col size="8">
          <ion-select [(ngModel)]="listing">
              <!-- <ion-select-option *ngFor="let code of list?.results" [value]="code.id">{{code.currencyName}}</ion-select-option> -->
          </ion-select>
          <ion-input id="maincur" type="number" placeholder="Enter Value here"></ion-input>
        </ion-col>
      </ion-grid>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Exchanged Currency</ion-card-title>
        <ion-select [(ngModel)]="listing">
          <!-- <ion-select-option *ngFor="let list of listing" [value]="list.id">{{list.currencyName}}</ion-select-option> -->

        </ion-select>
        <ion-card-content id="seccur" name="secondary-currency">Exchanged Currency</ion-card-content>
        <ion-button expand="full" id="btn" (click)="exchangeCur()">Calculate</ion-button>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
